# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Android
/android/.gradle/
/android/app/build/

# iOS
/ios/Pods/
/ios/build/

# Binaries
*.apk
*.ipa
*.exe
*.dll
*.so
*.bin
*.a
*.class
*.o
*.obj
*.dylib

# Miscellaneous
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.pub-cache/
.pub/
/build/
/coverage/

# Gradle/iOS build
/android/gradle/wrapper/gradle-wrapper.jar
/ios/Runner/Assets.xcassets/AppIcon.appiconset/*.png

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release
